name: Testing brianlmoon/gearman

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3']
        include:
          - operating-system: 'ubuntu-latest'
            php-versions: '8.1'
            phpunit-versions: 10
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Composer Install
      uses: php-actions/composer@v6
      with:
        php_version: ${{ matrix.php-versions }}
        args: --ignore-platform-reqs

    - name: PHPUnit tests
      uses: php-actions/phpunit@v4
      with:
        php_extensions: "sockets pcov"
        version: "10.5"
        php_version: ${{ matrix.php-versions }}
